<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include(header); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Sortowanie bąbelkowe</h1>
    <p><b>Projekt na zaliczenie przedmiotu techniki internetowe, III rok, Informatyka Stosowana. </b><br/>
      W kolejnych zakładkach znajdują się: 
      <ul> 
        <li>Animacja przedstawiająca sortowanie bąbelkowe.</li>
        <li>Opis algorytmu sortowania bąbelkowego.</li>
      </ul>
      Strona umożliwia rejestrację nowych użytkowników oraz logowanie. Dane o użytkowniku oraz informacje dotyczące animacji zapisywane są w bazie MongoDB. Autentykacja użytkownika przeprowadzana jest przy użyciu JWT.</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>